<div class="container">
  <h1>Ejercicio 1</h1>
  <div class="row scroll">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Tipo Multiplo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.listNumberMultiplos">
          <th scope="row">{{item.numero}} </th>
          <td>{{item.descripcionMultiplo}} </td>
        </tr>
        <tr>
      </tbody>
    </table>
  </div>
  <hr>
  <h1>Ejercicio 2</h1>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Números</h5>
      <h6 class="card-subtitle mb-2 text-muted">El número mayor entero positivo es: {{numeroEnteroMayor}} </h6>
      <div class="item">
        <div *ngFor="let item of this.listNumerosEnteros">
          <label>
            {{item}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <h1>Ejercicio 3</h1>
  <div class="mb-3">
    <label for="cadena" class="form-label"><strong>Digite cadena a reversar</strong></label>
    <input type="cadena" class="form-control" id="cadena" placeholder="Cadena" (change)="reverseCadena($event)">
    <span class="input-group-text" id="basic-addon3">{{this.cadenaReservada}} </span>
  </div>
</div>
